body {
	background: #dbdbdb;  
}

#header {
	height: 280px;
	text-align: center;
	margin-left: 0;
}

#footer {
	height: 50px;
	background-color: #ddd;
}

.nav-button {
	width: 150px;
	height: 30px;
	margin: 15px auto;
}

.content-block {
	padding-top: 20px;
	text-align: justify;
}

.wrapper {
	width: 100%;
	background-image: url('/img/header_bg_gr.jpg'); 
	background-repeat: repeat-x;
}


#main-title {
	font-family: 'Russo One', sans-serif;
	padding: 50px 100px;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 50px auto 0;
	width: 850px;
}

#big-title {
	font-size: 42px;
}

#small-title {
	font-size: 29px;
	margin-left: -11px;
}

.stripe {
	width: 100%;
	background-color: #ccc;
	border-top: 1px solid #bbb;
	margin-top: 100px;
	padding: 50px 0px;
}

.ftr {
	width: 100%;
	background-color: #4997ae;
	margin-top: 10px;
}

.ftr .container {
	border-left: 15px solid #dbdbdb;
	border-right: 15px solid #dbdbdb;
	text-align: center;
	padding: 10px 15px;
}


/* ### Fonts ### */

@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-abglgh');
	src:url('/fonts/icomoon.eot?#iefix-abglgh') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-abglgh') format('woff'),
		url('/fonts/icomoon.ttf?-abglgh') format('truetype'),
		url('/fonts/icomoon.svg?-abglgh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

ul.marker-checkmark {
    list-style-type: none;
    padding: 0;
list-style-position: outside;
/*     width: 100%; */
}

ul.marker-checkmark li {
	 
}

ul.marker-checkmark li:before {
    margin-left: -22px;  
    margin-right: 10px;      
    font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    font-size: 0.9em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    
    content: "\e602";
    color: #4997ae;

}

.marker-barcode:before {
	content: "\e603";
}
.marker-numbered-list:before {
	content: "\e604";
}


