body {
	background: #dbdbdb;  
}

#header {
	height: 220px;
	text-align: center;
	margin-left: 0;
}

#footer {
	height: 50px;
	background-color: #ddd;
}

#main-menu {
	margin: 10px auto 5px auto;
}

ul.nav {
    margin: 0 auto;
    display: inline-block;
}

.nav-button {
	width: 150px;
	height: 30px;
	margin: 15px auto;
}

nav {
    margin-bottom: 50px;
}

nav a {
    font-size: 18px;
}

.content-block {
	padding-top: 20px;
	text-align: justify;
}

.wrapper {
	width: 100%;
	background-image: url('/img/header_bg_gr.jpg'); 
	background-repeat: repeat-x;
}

.vtop {
    vertical-align: top !important;
}

.vmid {
    vertical-align: middle !important;
}

.vbot {
    vertical-align: bottom !important;
}

.cntr {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#main-title {
	font-family: 'Russo One', sans-serif;
	padding: 50px 100px;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 50px auto 0;
	width: 850px;
}

#big-title {
	font-size: 42px;
}

#small-title {
	font-size: 29px;
	margin-left: -11px;
}

.stripe {
	width: 100%;
/* 	background-color: #ccc; */
    background-color: #fff;
	border-top: 1px solid #bbb;
	padding: 35px 0 10px 0;
}

.ftr {
	width: 100%;
	background-color: #4997ae;
	margin-top: 10px;
}

.ftr .container {
	border-left: 10px solid #dbdbdb;
	border-right: 10px solid #dbdbdb;
	text-align: center;
	padding: 10px 15px;
}

.ftr p {
    color: #fff;
}

.ftr a {    
    color: yellow;    
}


/* ### Fonts ### */

@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-abglgh');
	src:url('/fonts/icomoon.eot?#iefix-abglgh') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-abglgh') format('woff'),
		url('/fonts/icomoon.ttf?-abglgh') format('truetype'),
		url('/fonts/icomoon.svg?-abglgh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="marker-"] {
    font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    font-size: 0.9em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul.marker-checkmark {
    list-style-type: none;
    font-family: 'Arial';
    list-style-position: outside;
    padding: 0 0 0 20px;
}

ul.marker-checkmark li {
	font-size: 1.3em;
    padding: 5px 0;
}

ul.marker-checkmark li:before {
    font-family: 'icomoon';
    margin-left: -32px;  
    margin-right: 16px;
    content: "\e602";
    color: #4997ae;
}

.marker-barcode:before {
	content: "\e603";
    font-size: 3em;
}

.marker-numbered-list:before {
	content: "\e604";
    font-size: 1.5em;
}

#main-links {
    
}

#main-links td {
    vertical-align: middle;
}

p.bg-success {
    padding: 15px 25px;
    font-size: 1.2em;
    border-radius: 5px;
}

.centered {	
	font-size: 20px;
	color: #4997ae;
	text-align: center;
    margin-bottom: 15px;
}

.phone {
/* 	color: #f8e7bc; */
    color: #fff;
	font-size: 26px;
	font-weight: bold;
}

#narrow {
	height: 5px;
}

a:hover {
	color: #333;
}

.bigger {
	font-size: 1.2em;
}

.alert-success {
    font-size: 18px;
}

.alert-info {
    font-size: 18px;
}

#equipment {
    margin-bottom: 45px;    
}

