#header {
	height: 100px;
	background-color: #ccc;
}

#footer {
	height: 50px;
	background-color: #ddd;
}

.nav-button {
	width: 150px;
	height: 30px;
	margin: 15px auto;
}

.content-block {
	padding-top: 20px;
	text-align: justify;
}
